
$grey: #333333;
$nav-background: white;
$sub-nav-background: white;
$menu-color: grey;
$menu-color-hover: red;

$footer-background: #f2f2f2;
$light-grey: #f6f6f6;
$text-border: #d3d3d3;
$heading: #58b9b0;

$green-text: #58b9b0;
