.acctext{
  margin-top: 0.2em;
  border: 2px dashed $light-grey;
  height: 200px;
  box-shadow: none;
  width: 80%;
  text-align: center;
  padding-top: 3%;
}

.accountdetailsleft{
  padding-left: 20%;
  padding-top: 2%;

}

.accountdetailsright{
  background-color: $light-grey;
  height: 50em;
  padding-top: 2%;
  padding-left: 5%;

  .text{
    width: 60%;
    height: 10%;
    background-color: $light-grey;
  }
}

.date{
  background: $light-grey;
  text-align: center;
}
