.kitsrow1{
  margin-top: 2%;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.kitsrow2{
  margin-top: 2%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-bottom: 5% !important;
}

.kitsheading{
  color: red;
  margin-top: 3em;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
}

.grid-block-example1{
  margin-top: 2%;
  margin-left: 23% !important;
  margin-right: 7% !important;

  .column{
    padding:0;
  }
  img{
    padding: 2%;
  }
  .row{
    margin-top: 5%;
  }
}

.grid-block-example2{
  margin-top: 2%;
  margin-left: 7% !important;
  margin-right: 23% !important;

  .column{
    padding:0;
  }
  img{
    padding: 2%;
  }
  .row{
    margin-top: 5%;
  }
}


.kit3{
  margin-top: 2%;
  margin-left: 10% !important;
  margin-right: 10% !important;

}
