.ourstoryprofile {
  text-align: center;
  align-items: center;
  background-color: grey;
  //border: 2px solid $clock-border-color;
  border-radius: 50%;
  display: flex;
  height: 10rem;
  justify-content: center;
  margin: 2rem auto;
  width: 10rem;
  vertical-align: middle;
}
